*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(0, 0, 0);
}

rect{
    background-color: blue;
}

input{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


#carduri{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 576px) {
    #carduri{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    div.container-fluid{
        display: flex;
        flex-wrap: nowrap;
    }    

  }



#searchbtn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

#Layer:hover{
    opacity: 0.6;
    cursor: pointer;
}

#Layer{
    margin-top: 40px;
}

#Layer:hover{
    opacity: 0.6;
    cursor: pointer;
}

#Layer{
    margin-top: 40px;
}

#Layer:hover{
    opacity: 0.6;
    cursor: pointer;
}

#Layer{
    margin-top: 40px;
}